<mat-card class="establishment-card" fxLayout="row" [routerLink]="['establishment/'+establishment.id]" fxLayoutAlign="start center">
    <div fxFlex="10" fxLayoutAlign="start center">
        <img  class="establishment-card-image" [src]="establishment.picture"/>
    </div>

    <div class="establishment-info" fxFlex="80">
        <p class="establishment-card-primary-text">{{establishment.name}} <span class="establishment-card-secondary-text">{{establishment.id}}</span></p>
        <p class="establishment-card-secondary-text">{{establishment.address}}</p>
    </div>

    <div fxFlex="10">
        <button mat-icon-button color="accent" (click)="deleteEstablishment($event)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</mat-card>
